$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

.logo-head{
     width: 3em;
}


ul{
    list-style: none;
}
.nav-item{
    font-size: 0.7em;
}
.jumbo-container{
    height: 400px;
    background-image: url('../img/jumbotron.jpg');
}
